---
import GenericLayout from "@/layouts/GenericLayout.astro";
import { GET } from "@api/colors";

const response = await GET();
const { colors } = await response.json();
console.log(colors);
---

<GenericLayout title="About">
  <h1>
    <a href="/">Astro example</a>
  </h1>
  My favourite color is:
  <span style={{ color: colors[3] }}>{colors[3]}</span>
  <br />
  <br />
  <span>Here are some other colors:</span>
  <ul>
    {colors.map((color: string) => <li style={{ color }}>{color}</li>)}
  </ul>
</GenericLayout>
